.app {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 8px;
  margin-top: 40px;
  font-family: Ubuntu, Open Sans, Segoe UI, Tahoma, sans-serif;
}

@media (min-width: 768px) {
  .app {
    max-width: 750px;
    padding: 0 16px;
  }
}
@media (min-width: 992px) {
  .app {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .app {
    max-width: 1170px;
  }
}
